@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

/* Shared Styles */
.display-flex {
    display: flex;
}
.dark2 {
    color: #424242;
}
.dark3 {
    color: #727272;
}
.bg-2 {
    background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary {
    background-color: #FF900E;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    padding: 20px 25px;
}
main {
    max-width: 1440px;
    margin: 0 auto;
}
main > section {
    margin-top: 130px;
}
.section-title {
    font-size: 2.813rem;
    font-weight: bold;
}

/* Header Styles */


/* Navbar related style */
.navbar {
    justify-content: space-between;
    align-items: center;
}
.brand {
    font-size: 2.813rem;
    font-weight: bold;
}
.nav-link {
    text-decoration: none;
    margin-left: 30px;
}
.nav-item {
    list-style: none;
}
.navbar, .banner {
    max-width: 1440px;
    margin: 0 auto;
}

/* Banner related style */
.banner-content {
    max-width: 868px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title {
    font-size: 4rem;
}
.banner-image {
    width: 100%;
}

/* Team and feature related style */
.teams {
    align-items: center;
}
.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-features {
    margin-left: 73px;
    max-width: 537px;
}

#quick-list {
    font-weight: 500;
}
.text-primary {
    color: #FF900E;
}

/* Features Section related styles */
.features {
    gap: 146px;
}
#features-section-title {
    border-left: 5px solid #FF900E;
    padding-left: 21px;
}
.feature-card {
    padding: 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    border-radius: 8px;
}
#experience-badge {
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -92px;
    margin-top: -123px;
}
#experience-year {
    font-size: 4rem;
    font-weight: bold;
}
.feature-card .feature-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
}
.featured-architect img {
    width: 100%;
}

/* Some Facts related styles */
.facts-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.fact-card {
    width: 241px;
    height: 241px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.fact-icon {
    margin-top: 46px;
}
.fact-number {
    font-size: 2.813rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name {
    font-size: 1.25rem;
    margin-top: 0;
    margin-bottom: 60px;
}

/* Sponsor related styles */
.sponsor-info {
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsor-companies {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.sponsor-companies img {
    filter: grayscale(100%);
}

/* Media Responsive Query */
/* Mobile */
@media screen and (max-width: 576px) {
    .navbar,
    .nav-links,
    .teams,
    .features {
        flex-direction: column;
    }
    .team-img-container, 
    .facts-container, 
    .sponsor-companies {
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
    }
    .our-features {
        margin: 0 auto;
    }
    .facts-container, 
    .sponsor-companies {
        justify-items: center;
        gap: 24px;
    }
    #experience-badge {
        margin-top: 20px;
        margin-left: 20px;
    }
}
/* Pad */
@media screen and (min-width: 576px) and (max-width: 1024px) {
    .navbar, 
    .nav-links,
    .teams,
    .features {
        flex-direction: column;
    }
    .team-img-container, 
    .facts-container, 
    .sponsor-companies {
        grid-template-columns: repeat(2, 1fr);
        margin: 0 auto;
    }
    .facts-container, 
    .sponsor-companies {
        justify-items: center;
        gap: 32px;
    }
    #experience-badge {
        margin-top: 40px;
        margin-left: 200px;
    }
}